{{ define "main" }}
  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .

    {{ else }}
      animated fadeInDown

    {{ end }}"
  >
    {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="archive__heading">{{ .Key }}</div>
      {{ range .Pages }}
        <div class="archive__list">
          <div class="archive__list-item">
             <div class="post__content">
              {{ if .Title }}
                <h3><a href="{{ .RelPermalink }}">{{ upper .Title }}</a></h3>
              {{ end }}
              {{ if .Site.Params.fullPostContent }}
                <p>{{ .Content | markdownify }}</p>

              {{ else }}
                <p>{{ .Summary | markdownify }}</p>

              {{ end }}
              <!-- add read more -->
              {{- if and (not (.Site.Params.fullPostContent)) (.Site.Params.readMore) -}}
                <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>

              {{- end -}}
              </div>
              <!--  -->
              <div class="post__footer">
                <em class="fas fa-calendar-day"></em>
                <a class="post__footer-date" href="{{ .RelPermalink }}">
                  {{ if isset .Site.Params "indexdateformat" }}
                    {{ if .Site.Params.localizedDates }}
                      {{ time.Format .Site.Params.indexDateFormat .Date }}


                    {{ else }}
                      {{ .Date.Format .Site.Params.indexDateFormat }}


                    {{ end }}


                  {{ else }}
                    {{ if .Site.Params.localizedDates }}
                      {{ time.Format "Mon, Jan 2, 2006" .Date }}


                    {{ else }}
                      {{ .Date.Format "Mon, Jan 2, 2006" }}


                    {{ end }}


                  {{ end }}
                </a>
                {{ with .Page.Params.Categories }}
                  {{ partial "taxonomy/categories.html" . }}


                {{ end }}

                {{ with .Page.Params.Tags }}
                  {{ partial "taxonomy/tags.html" . }}


                {{ end }}
              </div>              
            </div>
          </div>

      {{ end }}


    {{ end }}
  </div>

{{ end }}
