.body {
  width: 100%;
  margin: 0 auto;
  // work around to style body
  &.theme--dark {
    color: $primary--darkmode;
    background-color: $accent--darkmode;
  }
  &.theme--light {
    color: $primary--lightmode;
    background-color: $accent--lightmode;
  }
}

.archive-entry {
  margin: 10px 0;
}

.archive-categories {
  padding-bottom: 15px; 
  margin-bottom: 30px;
	display: inline;
}

.archive-category-name {
  margin: 0 10px 0 0;
	color: inherit;
	font-weight: 700;
	text-decoration: underline;
}